* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

/* Header */

.image-girl {
    width: 1900px;
}

.header-list {
    display: flex;
    justify-content: center;
}

.header-item {
    padding-right: 50px;
    padding-left: 50px;
    list-style: none; 
}